body {
    padding: 0;
    margin: 0;
    background: #585858;
    overflow-x: hidden;
}

.htmlbuttons {
    background-color: #688db8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 100%;
}

.htmlbuttons:hover {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(255, 55, 98);
}

#Bcounterclockwise {
    text-align: center;
    margin-top: 1%;
    margin-left: 30%;
    float: left;
}

#Bclockwise {
    text-align: center;
    margin-top: 1%;
    margin-right: 30%;
    float: right;
}

#Wcounterclockwise {
    text-align: center;
    margin-top: 1%;
    margin-right: 30%;
    float: right;
}

#Wclockwise {
    text-align: center;
    margin-top: 1%;
    margin-left: 30%;
    float: left;
}

#reset {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#circleOut {
    background-color: #688db8;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 400px;
    border-radius: 200px;
    transform: translate(-50%, -50%);
}

#circleInner {
    background-color: #66abfa;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    transform: translate(-50%, -50%);
}

#speedInputFieldDIV {
    position: absolute;
    top: 80%;
    left: 20%;
}

#speedInputFieldText {
    color: white;
}

#pointOut {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%) rotate(90deg);
}

#pointIn {
    background-color: #0a23ff;
    position: absolute;
    left: -8%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

#durationInputFieldDIV {
    position: absolute;
    top: 90%;
    left: 20%;
}

#durationInputFieldText {
    color: white;
}

#pointOut1 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%) rotate(90deg);
}

#pointIn1 {
    background-color: #0a23ff;
    position: absolute;
    left: 5%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

#outpositionDIV {
    position: absolute;
    top: 80%;
    left: 80%;
}

#outposition {
    color: white;
}

#inpositionDIV {
    position: absolute;
    top: 60%;
    left: 80%;
}

#inposition {
    color: white;
}

#WDIV {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.insertscounter {
    color: #0a23ff;
}

.insertscounterpredict {
    color: rgb(255, 217, 0);
}



#yellowIN {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%) rotate(90deg);
}

#yIN {
    background-color: rgb(255, 217, 0);
    position: absolute;
    left: 5%;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    transform: translate(-50%, -50%);
}

#yellowOUT {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%) rotate(90deg);
}

#yOUT {
    background-color: rgb(255, 217, 0);
    position: absolute;
    left: -8%;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    transform: translate(-50%, -50%);
}

.correctionbuttons {
    background-color: #688db8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    width: 100%;
}

.correctionbuttons:hover {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(255, 55, 98);
}

#resetcorrectionID {
    text-align: center;
    margin-top: 10%;
    margin-left: -30%;
    float: left;
}

#YellowToGreenID {
    text-align: center;
    margin-top: 15%;
    margin-left: -30%;
    float: left;
}

#GreenToYellowID {
    text-align: center;
    margin-top: 20%;
    margin-left: -30%;
    float: left;
}