body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #252424;
    overflow: scroll;
}

.htmlbuttons {
    background-color: #688db8;
    border: none;
    color: white;
    width: 8vw;
    height: 3vw;
    text-align: center;
    line-height: 1.1em;
    font-size: 1vw;
    border: 2px solid #413f5f;
    border-radius: 0.5rem;
    box-shadow: 0 0.6em #413f5f, 0 0.9em rgba(0, 0, 0, 0.4);
    position: relative;
    top: 0;
    transition: all 300ms ease-in-out;
    border-radius: 0.5rem;
    outline: 0 !important;
}

.htmlbuttons:active {
    top: 0.4em;
    box-shadow: 0 0.2em #4915c2, 0 0.5em rgba(0, 0, 0, 0.4);
}

.htmlbuttons:hover {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(23, 46, 255);
}

#Bcounterclockwise {
    text-align: center;
    margin-top: 1%;
    margin-left: 30%;
    float: left;
}

#Bclockwise {
    text-align: center;
    margin-top: 1%;
    margin-right: 30%;
    float: right;
}

#Wcounterclockwise {
    text-align: center;
    margin-top: 1%;
    margin-right: 30%;
    float: right;
}

#Wclockwise {
    text-align: center;
    margin-top: 1%;
    margin-left: 30%;
    float: left;
}

#reset {
    position: absolute;
    top: 6vw;
    left: 50vw;
    min-width: 100px;
    transform: translate(-50%, -50%);
}

#minusB {
    text-align: center;
    margin-top: 25%;
    margin-left: -30%;
    float: left;
}

#plusB {
    text-align: center;
    margin-top: 31%;
    margin-left: -30%;
    float: left;
}

#minusW {
    text-align: center;
    margin-top: 25%;
    margin-right: -30%;
    float: right;
}

#plusW {
    text-align: center;
    margin-top: 31%;
    margin-right: -30%;
    float: right;
}

#circleOut {
    background-color: #688db8;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 400px;
    border-radius: 200px;
    transform: translate(-50%, -50%);
}

#circleInner {
    background-color: #66abfa;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    transform: translate(-50%, -50%);
}

#circleBack {
    background-color:none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    height: 600px;
    border-radius: 150px;
    overflow: overlay;
    transform: translate(-50%, -50%);
}

#yellowIN {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%) rotate(0deg);
}

#yIN {
    background-color: rgb(255, 217, 0);
    position: absolute;
    left: 50%;
    top: 7%;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    transform: translate(-50%, -50%);
}

#yellowOUT {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%) rotate(00deg);
}

#yOUT {
    background-color: rgb(255, 217, 0);
    position: absolute;
    left: 50%;
    top: -8%;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    transform: translate(-50%, -50%);
}


#correctionIN {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    z-index: 0;
    border-radius: 150px;
    transform: translate(-50%, -50%) rotate(00deg);
}

#cIN {
    background-color: rgb(0, 255, 21);
    position: absolute;
    left: 50%;
    top: 9%;
    width: 5px;
    height: 50px;
    border-radius: 15px;
    transform: translate(-50%, -50%);
}

#correctionOUT {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%) rotate(00deg);
}

#cOUT {
    background-color: rgb(0, 255, 21);
    position: absolute;
    left: 50%;
    top: 6%;
    width: 5px;
    height: 50px;
    border-radius: 15px;
    transform: translate(-50%, -50%);
}

#durationInputFieldDIV {
    position: absolute;
    top: 75%;
    left: 20%;
}

.durationcounter {
    color: white;
    ;
}

#outpositionDIV {
    position: absolute;
    top: 70%;
    left: 70%;
}


.insertscounter {
    color: white;
}

.green {
    color: rgb(255, 255, 255);
}

.yellow {
    color: rgb(255, 255, 255);
}

#resetall {

    text-align: center;
    margin-top: 20%;
    margin-left: -30%;
    float: left;
}

.resetbutton {
    background-color: #c00707;
    border: none;
    color: white;
    width: 7vw;
    height: 3vw;
    text-align: center;
    line-height: 1.1em;
    font-size: 1vw;
    border: 2px solid #413f5f;
    border-radius: 0.5rem;
    box-shadow: 0 0.6em #413f5f, 0 0.9em rgba(0, 0, 0, 0.4);
    position: relative;
    top: 0;
    transition: all 300ms ease-in-out;
    border-radius: 0.5rem;
    outline: 0 !important;
}

.resetbutton:active {
    top: 0.4em;
    box-shadow: 0 0.2em #4915c2, 0 0.5em rgba(0, 0, 0, 0.4);
}

.resetbutton:hover {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(23, 46, 255);
}

#triangleOUT {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    z-index: -10;
    transform: translate(-50%, -50%) rotate(00deg);
}

#tOUT {
    border-top: 9px solid transparent;
    /* skyblue */
    border-right: 9px solid transparent;
    /* limegreen;  */
    border-bottom: 9px solid transparent;
    /* orange; */
    border-left: 9px solid red;
    position: absolute;
    left: 50%;
    top: -21%;
    width: 4px;
    height: 3px;
    transform: translate(-50%, -50%)rotate(90deg);
}



.switch {
    position: absolute;
    left: 2vw;
    top: 1vh;
    display: inline-block;
    width: 3vw;
    height: 1.5vw;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.3vw;
    width: 1.3vw;
    left: 0vh;
    bottom: 0.125vw;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26vw);
    -ms-transform: translateX(26vw);
    transform: translateX(1.5vw);
}

.slider.round {
    border-radius: 304px;
}

.slider.round:before {
    border-radius: 100%;
}

#textposition {
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 1.5vw;
    position: relative;
    top: 0.05vw;
    left: 4vw;
}